.SmartContractDeploy {
  .Input { margin-bottom: 10px; }

  h2 {
    margin-bottom: 20px;
    color: $dark-brown;
  }

  .SmartContractDeploy__guide {
    font-weight: bold;
    color: $brown-grey;
    margin-bottom: 20px;
    a {
      color: $main-theme-blue;
      text-decoration: underline;
    }
  }
}

.SmartContractDeploy__txResult {
  margin-top: 40px;
}

.SmartContractDeploy__txResultTitle {
  margin-bottom: 20px;
  color: $dark-brown;
}