.SmartContractExecution {

  .SmartContractExecution__guide {
    color: $brown-grey;
    margin-bottom: 20px;
    a {
      color: $main-theme-blue;
      text-decoration: underline;
    }
  }
}

.SmartContractExecutionFD__sender {
  padding-bottom: 20px;
  margin-bottom: 20px;
}