.ValueTransfer {
  .Input { margin-bottom: 10px; }
  h2 {
    margin-bottom: 20px;
  }

  // h3 {
  //   padding: 20px 0 20px;
  //   border-top: 1px solid $light-grey;
  //   margin-top: 25px;
  // }

  p {
    margin-bottom: 20px;
  }
}

.ValueTransferFD__sender {
  padding-bottom: 20px;
  margin-bottom: 20px;
}